* {
  font-family: arial;
  /* background-color: aqua; */
}
body {
  background-color: rgb(208, 207, 207);
}
.all_content {
  width: 70%;
  margin: auto;
  background-color: white;
}
main {
  display: flex;
  flex-direction: row;
  gap: 40px;

  width: 80%;
  margin: auto;
  /* justify-content: center; */
}

header {
  background-color: white;
  padding-top: 7%;
  margin-left: 26%;
  font-size: 25px;
  color: rgb(70, 71, 71);

  /* padding-left: 10px; */
}
.left {
  width: 30%;
  margin-left: 15px;
  /* border:2px solid black; */
  word-wrap: break-word;
  margin-top: 15px;
  background-color: white;
  /* padding-left:7%; */
}
.left p {
  display: flex;
  gap: 3px;
}
.left h2 {
  border-bottom: 2px solid;
  padding: 3px;
  width: 70%;
}
hr {
  border-left: 3px solid;
}
.right {
  /* border:2px solid black; */
  width: 60%;
  /* margin-right: 10%; */
  margin-top: 15px;
  background-color: white;
}

.right h4 {
  color: rgb(77, 79, 78);
}

.right h2 {
  border-bottom: 2px solid;
  padding: 3px;
  /* width: 0%; */
}

h4 {
  text-align: center;
}

.ieee {
  padding-right: 260px;
}
.contact_info {
  /* border:1px solid black; */
  padding-bottom: 90px;

  font-size: 13px;
  /* border-top: 2px solid; */
}

.education {
  /* border:1px solid black; */
  padding-bottom: 80px;
}
ul {
  line-height: 26px;
}

/* display :inline;
takes required space only

margin :space outside the element (between elements).

Padding → space inside the element (between content and border).
 
display:inline-block(to enable padding margin)
removes default properties



position:relative;
top:10px;
(paila ko aafno position (top) bata 10 px tala)


*/


